.palette {
    height: 100% !important;
    z-index: 1000 !important;
    position: fixed !important;
    width: 100% !important;
}

.inactive {
    display: none !important;
    z-index: 0 !important;
}
